.promotion{
  width: 100%;
  height: 100%;
  padding: 2%;
}
.block{
  width: 350px;
  height: 400px;
  margin-left: 173px;
  background-color:#a2b1a2;
  display: inline-block;
  border-radius:3%;
  margin-top: 100px;
}
.nameblock h2{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.imgBlock img{
  width: 90%;
  height: 90%;
  display: block;
  border-radius:1%;
  margin: auto;
}
.descBlock{
  width: 270px;
  margin: auto;
  display: block;
}
.descBlock p{
  font-size: 15px;
  text-align: left;
}